.App {
  font-family: sans-serif;
  border: 2px solid black;
  width: 500px;
  margin: auto;
  text-align: center;
}

/* @media (max-width: 400px) {
  background-color: blue;
} */

.mobile {
  background-color: red;
  width: 70%;
}

.tablet {
  background-color: green;
  width: 70%;
}

.desktop {
  background-color: blue;
  width: 70%;
}

.desktopHd {
  background-color: coral;
  width: 70%;
}
